In [186]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [179]:
customers =  pd.read_csv("Customers.csv")
products =  pd.read_csv("Products.csv")
transactions =  pd.read_csv("Transactions.csv")

In [180]:
transactions_customers = pd.merge(transactions,customers , on = "CustomerID",how ="inner")
merged_df = pd.merge(transactions_customers, products, on="ProductID", how="inner")
merged_df

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,CustomerName,Region,SignupDate,ProductName,Category,Price_y
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics,300.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86,Jacob Holt,South America,2022-01-22,SoundWave Smartwatch,Electronics,459.86
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86,Mrs. Kimberly Wright,North America,2024-04-07,SoundWave Smartwatch,Electronics,459.86
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86,Tyler Haynes,North America,2024-09-21,SoundWave Smartwatch,Electronics,459.86
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86,Joshua Hamilton,Asia,2024-11-11,SoundWave Smartwatch,Electronics,459.86
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86,Michele Cooley,North America,2024-02-05,SoundWave Smartwatch,Electronics,459.86

In [181]:
merged_df['CustomerID_numeric'] = merged_df['CustomerID'].str.extract('(\d+)').astype(int)

# Filter customers with IDs from 1 to 20
first_20_customers = merged_df[merged_df['CustomerID_numeric'].between(1, 20)]

first_20_customers

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Ritesh\AppData\Local\Temp\ipykernel_17288\3524897462.py:1: SyntaxWarning: invalid escape sequence '\d'
  merged_df['CustomerID_numeric'] = merged_df['CustomerID'].str.extract('(\d+)').astype(int)

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,CustomerName,Region,SignupDate,ProductName,Category,Price_y,CustomerID_numeric
7,T00536,C0008,P067,2024-09-22 06:13:59,1,300.68,300.68,David Li,North America,2024-01-13,ComfortLiving Bluetooth Speaker,Electronics,300.68,8
32,T00605,C0017,P057,2023-12-31 03:27:43,4,958.80,239.70,Jennifer King,Europe,2023-12-05,ActiveWear Smartphone,Electronics,239.70,17
37,T00004,C0004,P049,2024-07-19 10:56:13,4,591.80,147.95,Kathleen Rodriguez,South America,2022-10-09,TechPro Textbook,Books,147.95,4
39,T00136,C0010,P049,2024-02-22 18:44:05,2,295.90,147.95,Aaron Cox,Europe,2022-12-15,TechPro Textbook,Books,147.95,10
44,T00551,C0018,P049,2024-02-23 13:28:08,3,443.85,147.95,Tyler Haynes,North America,2024-09-21,TechPro Textbook,Books,147.95,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,T00675,C0002,P071,2024-12-03 01:41:41,2,254.72,127.36,Elizabeth Lutz,Asia,2022-02-13,TechPro T-Shirt,Clothing,127.36,2
967,T00557,C0008,P026,2024-03-11 03:22:29,2,128.76,64.38,David Li,North America,2024-01-13,SoundWave Bluetooth Speaker,Electronics,64.38,8
984,T00769,C0011,P046,2024-02-06 14:46:43,4,1464.28,366.07,Bryan Mathews,South America,2022-12-12,BookWorld Sweater,Clothing,366.07,11
987,T00379,C0004,P077,2024-12-23 14:13:52,4,1062.04,265.51,Kathleen Rodriguez,South America,2022-10-09,ActiveWear Smartwatch,Electronics,265.51,4
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86,Tyler Haynes,North America,2024-09-21,SoundWave Smartwatch,Electronics,459.86,18

In [182]:
# Dropping unwanted columns
merged_df = merged_df.drop(['TransactionID','Price_y','CustomerName','ProductName','TransactionDate','SignupDate','CustomerID_numeric'],axis=1)
merged_df

,CustomerID,ProductID,Quantity,TotalValue,Price_x,Region,Category
0,C0199,P067,1,300.68,300.68,Europe,Electronics
1,C0146,P067,1,300.68,300.68,Asia,Electronics
2,C0127,P067,1,300.68,300.68,Europe,Electronics
3,C0087,P067,2,601.36,300.68,South America,Electronics
4,C0070,P067,3,902.04,300.68,Europe,Electronics
...,...,...,...,...,...,...,...
995,C0118,P037,1,459.86,459.86,South America,Electronics
996,C0059,P037,3,1379.58,459.86,North America,Electronics
997,C0018,P037,4,1839.44,459.86,North America,Electronics
998,C0115,P037,2,919.72,459.86,Asia,Electronics
999,C0024,P037,1,459.86,459.86,North America,Electronics

In [183]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  1000 non-null   object
 1   ProductID   1000 non-null   object
 2   Quantity    1000 non-null   int64
 3   TotalValue  1000 non-null   float64
 4   Price_x     1000 non-null   float64
 5   Region      1000 non-null   object
 6   Category    1000 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB

In [184]:
customer_list = first_20_customers['CustomerID'].to_list()
customer_list[0:5]

['C0008', 'C0017', 'C0004', 'C0010', 'C0018']

In [185]:
# Preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['Quantity', 'TotalValue', 'Price_x']),
        ('cat', OneHotEncoder(), ['Region', 'Category'])
    ])

# Apply preprocessing
X = preprocessor.fit_transform(merged_df.drop(columns='CustomerID'))

def get_similar_users_as_csv(customer_ids, data, X, top_n=3, output_file='Lookalike.csv'):
    """
    Find top N similar users for a list of customer IDs and save results as a CSV.

    Parameters:
    customer_ids (list): List of CustomerIDs to find similar users for.
    data (DataFrame): Original DataFrame containing CustomerIDs.
    X (array-like): Feature matrix used for similarity calculation.
    top_n (int): Number of similar users to retrieve.
    output_file (str): Name of the output CSV file.

    Returns:
    DataFrame: A DataFrame containing CustomerID and Similarities.
    """
    results = []

    for customer_id in customer_ids:
        try:
            # Find the index of the input customer
            customer_index = data[data['CustomerID'] == customer_id].index[0]

            # Calculate similarity scores
            similarity_scores = cosine_similarity(X[customer_index:customer_index + 1], X)

            # Get indices of the top n similar users (excluding the customer itself)
            similar_users = np.argsort(similarity_scores[0])[-(top_n + 1):-1]

            # Create a list of tuples for similar users and their scores
            similar_list = [
                (data.iloc[similar_user_index]['CustomerID'], similarity_scores[0][similar_user_index])
                for similar_user_index in reversed(similar_users)
            ]

            # Append the result
            results.append({
                'CustomerID': customer_id,
                'Similarities': similar_list
            })

        except IndexError:
            # Handle cases where the customer ID is not found in the data
            continue

    # Convert the results list into a DataFrame
    results_df = pd.DataFrame(results, columns=['CustomerID', 'Similarities'])

    # Save to CSV
    results_df.to_csv(output_file, index=False)

    print(f"Results saved to {output_file}")

    return results_df

# Example usage:
custdf = get_similar_users_as_csv(customer_list, merged_df, X, 3)

Results saved to Lookalike.csv

Methodology and Logic:
<br>
Input: Accepts a list of CustomerIDs, a data DataFrame (data), and a feature matrix (X) representing customer attributes.

Similarity Calculation: For each CustomerID, the method calculates cosine similarity scores between the target customer and all others in the feature matrix.

Top Similar Users: Retrieves indices of the top N most similar customers (excluding the target itself) and forms a list of tuples with SimilarCustomerID and their similarity scores.

Output: Consolidates results into a DataFrame with CustomerID and their Similarities (a list of tuples). Saves this as a CSV and returns the DataFrame.